:local(.hero) {
  background-color: #1a1a1a;
  margin-bottom: 1.45rem;
  height: 600px;
  text-align: center;

  h1, h2 {
    opacity: 0.9;
    color: white;
  }

  img { 
    filter: invert(1);
    margin-top: 125px;
  }

}