:local(.nav) {
  display: flex;
  list-style-type: none;
  background-color: #1a1a1a;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  li a {
    display: block;
    color: rgb(255, 255, 255, .95);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {
    margin-bottom: 0;
  }

  li a:hover {
      background-color: #111;
  }
}